@import '../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css?family=Varela");
* {
  box-sizing: border-box;
}

.container {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Varela", sans-serif;
  color: #808080;
}

ul {
  padding: 0;
}

.btn--info, .btn--warning, .btn--error, .btn--success, .btn--default {
  border-radius: 4px;
  border: none;
  color: white;
  display: block;
  line-height: 2.6;
  margin: 20px 0;
  flex: 1;
  width: 100%;
  text-transform: uppercase;
  transition: 0.4s ease;
}
.btn--info:hover, .btn--warning:hover, .btn--error:hover, .btn--success:hover, .btn--default:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn--info:active, .btn--warning:active, .btn--error:active, .btn--success:active, .btn--default:active {
  opacity: initial;
}
@media (min-width: 769px) {
  .btn--info, .btn--warning, .btn--error, .btn--success, .btn--default {
    flex-basis: 100px;
    margin-left: 1%;
    margin-right: 1%;
  }
}

.img--frame, .img--avatar, .img--logo {
  display: block;
  margin: 40px auto;
  align-self: center;
}

.grid__col--12, .grid__col--11, .grid__col--10, .grid__col--9, .grid__col--8, .grid__col--7, .grid__col--6, .grid__col--5, .grid__col--4, .grid__col--3, .grid__col--2 {
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 6px;
}
@media (min-width: 769px) {
  .grid__col--12, .grid__col--11, .grid__col--10, .grid__col--9, .grid__col--8, .grid__col--7, .grid__col--6, .grid__col--5, .grid__col--4, .grid__col--3, .grid__col--2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.btn--default {
  background-color: #51DDFC;
}
.btn--success {
  background-color: #63CC82;
}
.btn--error {
  background-color: #E4757A;
}
.btn--warning {
  background-color: #FD7856;
}
.btn--info {
  background-color: #927BC1;
}

.form__label--hidden {
  display: none;
}
.form__input {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 14px;
  border: none;
  border-bottom: 5px solid #58E1C1;
  margin-bottom: 10px;
}

.grid__row {
  display: block;
  width: 82%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1120px;
  }
}

.grid__col--2.theme__colors {
  background-color: #80e88c;
}

@media (min-width: 769px) {
  .grid__col--2 {
    width: 14.6666666667%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--3.theme__colors {
  background-color: #97e880;
}

@media (min-width: 769px) {
  .grid__col--3 {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--4.theme__colors {
  background-color: #bae880;
}

@media (min-width: 769px) {
  .grid__col--4 {
    width: 31.3333333333%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--5.theme__colors {
  background-color: #dce880;
}

@media (min-width: 769px) {
  .grid__col--5 {
    width: 39.6666666667%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--6.theme__colors {
  background-color: #e8d180;
}

@media (min-width: 769px) {
  .grid__col--6 {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--7.theme__colors {
  background-color: #e8ae80;
}

@media (min-width: 769px) {
  .grid__col--7 {
    width: 56.3333333333%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--8.theme__colors {
  background-color: #e88c80;
}

@media (min-width: 769px) {
  .grid__col--8 {
    width: 64.6666666667%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--9.theme__colors {
  background-color: #e88097;
}

@media (min-width: 769px) {
  .grid__col--9 {
    width: 73%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--10.theme__colors {
  background-color: #e880ba;
}

@media (min-width: 769px) {
  .grid__col--10 {
    width: 81.3333333333%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--11.theme__colors {
  background-color: #e880dc;
}

@media (min-width: 769px) {
  .grid__col--11 {
    width: 89.6666666667%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.grid__col--12.theme__colors {
  background-color: #d180e8;
}

@media (min-width: 769px) {
  .grid__col--12 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.centered {
  margin: auto;
}

.img--frame {
  padding: 4%;
  margin: 20px auto;
  border: 1px solid #AAA;
  width: 100%;
  height: auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}
.nav .nav__item {
  list-style: none;
  text-align: center;
  margin-bottom: 5px;
}
.nav .nav__item a {
  text-decoration: none;
  display: block;
  line-height: 3;
  border-radius: 4px;
  border: none;
  transition: 0.4s ease;
}
@media (min-width: 769px) {
  .nav .nav__item a {
    padding: 0 20px;
  }
}
.nav .nav__item a:hover {
  color: white;
  background: #58E1C1;
}
@media (min-width: 769px) {
  .nav .nav__item {
    margin-right: 10px;
  }
}

.headline--secondary {
  width: 90%;
  margin: 35px 0;
}

.headline--primary {
  color: #58E1C1;
  font-weight: bold;
  margin-left: 1em;
  margin-bottom: 1em;
}

.blockquote {
  border-radius: 6px;
  border-left: 10px solid #58E1C1;
  padding-left: 20px;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 40px;
}

.link {
  color: #51DDFC;
  text-decoration: none;
}

.container .headline--secondary {
  display: block;
  width: 82%;
  margin-right: auto;
  margin-left: auto;
}

/*# sourceMappingURL=styles.css.map */
