%btn {
    @include roundy();
    color: white;
    display: block;
    line-height: 2.6;
    margin: 20px 0;
    flex: 1;
    width: 100%;
    text-transform: uppercase;
    transition: 0.4s ease;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    &:active {
        opacity: initial;
    }
    @include media('lg') {
        flex-basis: 100px;
        @include addGutter();
    }
}

%img {
    display: block;
    margin: 40px auto;
    align-self: center;
}
    
%grid__col {
    padding: 10px;
    @include roundy();
    margin-bottom: 6px;
    @include media('lg') {
        @include flex();
    }
}