
//Adds border radius by default to 4px
@mixin roundy($radius: 4px) {
    border-radius: $radius;
    border: none;
}

//centers block content
@mixin center($width: 82%) {
    display: block; 
    width: $width;
    margin: auto;
}
