//Colors
$color-primary: #58E1C1;
$color-secondary: #51DDFC;
$color-tertiary: #AAA;

//Button colors
$btn-primary: #51DDFC;
$btn-success: #63CC82;
$btn-error: #E4757A;
$btn-warning: #FD7856;
$btn-info: #927BC1;

//Media break points
$breakpoint-lg: 480px;

//Font stack
$font-primary: 'Varela', sans-serif;
