.grid__row {
    @include center();
    margin-bottom: 50px;
}

//Go around the color wheel to assign colors to grid display cols
@for $i from 1 through 12 {
    .grid__col--#{$i}.theme__colors {
        background-color: adjust-hue($color: #80E8D1, $degrees: -20 * $i);
        padding: 10px;
        @include roundy();
        margin-bottom: 6px;
    }
}
