.img {
    &--logo {
        @extend %img;
    }
    &--avatar {
        @extend %img;
    }
    &--frame {
        @extend %img;
        width: 100%;
        padding: 4%;
        margin: 20px auto;
        border: 1px solid $color-tertiary;
    }
}