.nav {
    @include flex($dir: column);
    @include media('lg') {
        @include flex($dir: row);
        margin-top: 60px;
    }
    .nav__item {
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
        a {
            text-decoration: none;
            display: block;
            line-height: 3;
            @include roundy();
            transition: 0.4s ease;
            @include media('lg') {
                padding: 0 20px;
            }
            &:hover {
                color: white;
                background: #58E1C1;
            }
        }
        @include media('lg') {
            margin-right: 10px;
        }
    }
}

